{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    购物车
{% endblock %}

{% block content %}
    <h1>购物车</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>图片</th>
                <th>产品</th>
                <th>数量</th>
                <th>删除</th>
                <th>单价</th>
                <th>总价</th>
            </tr>
        </thead>
        <tbody>
        <!-- cart是Cart类封装后的__iter__方法返回的生成器，每次for循环迭代生成的内容都是{price:单价,total_price:产品总价,product:产品实例,quantity:数量} -->
        {% for item in cart %}
            {% with product=item.product %}
            <tr>
                <td>
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                    </a>
                </td>
                <td>{{ product.name }}</td>
                <td>
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="更新">
                {% csrf_token %}
                </form>
                </td>
                <td><a href="{% url "cart:cart_remove" product.id %}">删除</a></td>
                <td class="num">${{ item.price }}</td>
                <td class="num">${{ item.total_price }}</td>
            </tr>
            {% endwith %}
        {% endfor %}
        {#  如果session中存在优惠码  #}
        {% if cart.coupon %}
            <tr class="subtotal">
                <td>总计</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>
            <tr>
                <td>
                    {{ cart.coupon.code }} 优惠码 - {{ cart.coupon.discount }}%折扣
                </td>
                <td colspan="4"></td>
                <td class="num neg">
                    - ${{ cart.get_discount|floatformat:"2" }}
                </td>
            </tr>
        {% endif %}
        <tr class="total">
            <td>总计</td>
            <td colspan="4"></td>
            <td class="num">
                ${{ cart.get_total_price_after_discount|floatformat:"2" }}
            </td>
        </tr>
        </tbody>
    </table>
    <p>输入优惠码:</p>
    <form action="{% url "coupons:apply" %}" method="post">
    {{ coupon_apply_form }}
    <input type="submit" value="应用">
    {% csrf_token %}
    </form>
    <p class="text-right">
        <a href="{% url "shop:product_list" %}" class="button light">继续购物</a>
        <a href="{% url "orders:order_create" %}" class="button">结账</a>
    </p>
{% endblock %}
