{% extends "base.html" %}
{% block title %}已收藏图片{% endblock %}
{% block content %}
    <h1>已收藏图片</h1>
    <div id="image-list">
        {% include "images/image/list_ajax.html" %}
    </div>
{% endblock %}

<!-- 这段代码实现不受限的滚屏功能 -->
{% block domready %}
    //保存当前的页码
    var page = 1;
    //是否到达最后一页
    var empty_page = false;
    //当有进程中存在AJAX请求时，阻止额外的请求
    var block_request = false;

    $(window).scroll(function() {
        //在用户接近底部200px时加载下一页的内容
        var margin = $(document).height() - $(window).height() - 200;
        //没有其他AJAX请求在执行、用户也没有到达最后一页时发送AJAX请求
        if  ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
            //将block_request设为True，避免滚动时间触发额外的AJAX请求，在请求下一页时增加page计数
		    block_request = true;
		    page += 1;
		    $.get('?page=' + page, function(data) {
                //已经到达最后一页，把empty_page设为True阻止加载更多的AJAX请求
		        if(data == '')
		        {
		            empty_page = true;
		        }
                //响应中含有数据，将数据添加到id为image-list的HTML元素中，当用户滚动到页面底部时浏览器将直接加载添加的内容
		        else {
                    block_request = false;
                    $('#image-list').append(data);
    	        }
            });
    	}
    });
{% endblock %}